<h3> Hello <%= @customer.name() %></h3>
<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <h4>We have the following movies available:</h4>
      <% if @in_stock.any? %>
        <form action="/customer/<%= @customer.id %>" method="post">
          <input type="hidden" name="_method" value="patch">
          <% @in_stock.each do |movie| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="movie_ids[]" value="<%= movie.id() %>"><%= movie.title() %>
              </label>
            </div>
        <% end %>
        <button type="submit" name="checkout" class="btn btn-danger">Checkout</button>
      </form>

      <% else %>
        <h3> All movies are checked out.</h3>

      <% end %>
  </div>
  <div class="col-sm-6">
    <h4>Current movies for <%= @customer.name() %>: </h4>
      <% if @customer.movies.any? %>
        <form action="/customer/<%= @customer.id %>/return" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
          </div>
          <div class="form-group">
            <% @customer.movies.each.with_index do |movie, index| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="movie_ids[]" value="<%= movie[0].id() %>"><%= movie[0].title() %> - <span class="due_date"> Due: <%= movie[1] %></span>
                </label>
              </div>
          <% end %>
        </div>
        <button type="submit" name="checkout" class="btn btn-danger">Return</button>
      </form>

      <% else %>

        <p>Welcome! Start watching movies today!</p>

      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <form action="/customer/<%= @customer.id %>" method="post">
      <h4>Update Customer</h4>
      <div class="form-group">
        <input type="hidden" name="_method" value="patch">
      </div>
      <div class="form-group">
        <input type="text" name="name" placeholder="New name" class="form-control">
      </div>
        <button type="submit" class="btn btn-danger">Update</button>
    </form>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-6">
      <h4>Rental history for <%= @customer.name() %>: </h4>
        <% if @customer.history.any? %>
          <ul>
            <% @customer.history.each do |movie| %>
              <li><%= movie[0].title() %></li>
              <li>Returned: <%= movie[1] %></li>
            <% end %>
            </ul>
        <% else %>

          <p>Checkout a movie to see it in your history!</p>

        <% end %>
    </div>
  </div>
</div>
<br>
<br>
  <form action="/customer/<%= @customer.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
